.header {
    background-color: #141f40;
    height: 100px;
    width: 400px;
    position: relative;
    padding: 4px 0 0 0px;
    
    
}
.header .inner {
    width: 160px;
    height: 60px;
    margin: 20px 0 20px 200px;
   
}
.header  .left {
    height: 40px;
    width: 40px;
    background-color: #a9004b;
    border-top: 10px solid white;
    border-right: 5px solid white;
    border-bottom: 10px solid white;
    border-left:  10px  solid white;
    float: left;
}
.header .center {
    height: 40px;
    width: 40px;
    background-color: #a9004b;
    border-top: 10px solid white;
    border-right: 5px solid white;
    border-bottom: 10px solid white;
    border-left:  5px  solid white;
    
    float: left;
}
.header .right {
    height: 40px;
    width: 40px;
    background-color: #a9004b;
    border-top: 10px solid white;
    border-right: 10px solid white;
    border-bottom: 10px solid white;
    border-left:  5px  solid white;
    
    float: left;
}
.left {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}
.right {
    width: 250px;
    height: 250px;
    background-color: #8c2727;
    float: left;
}
.right .top {
    height: 40px;
    width: 140px;
    background-color: #ff863f;
    border: 5px solid white;
    margin: 40px 60px 5px 40px;

    
}
.right .center {
    height: 40px;
    width: 140px;
    background-color: #ff863f;
    border: 5px solid white;
    margin: 5px 60px 5px 40px;
}

.right .bottom {
    height: 40px;
    width: 140px;
    background-color: #ff863f;
    border: 5px solid white;
    margin: 5px 60px 40px 40px;
}
.footer {
    height: 100px;
    width: 400px;
    background-color: #d98d30 ;
    clear: both;
}