body {
    max-width: 400px;
}
.header {
    background-color: #141f40;
    height: 100px;
    width: 400px;
}
.left {
    background-color: #80bfa8;
    width: 150px;
    height: 250px;
   float: left;
    
}

.right {
    background-color: #ff9e6b;
    width: 100px;
    height: 150px; 
    float: right;
    
    
}
.top {
    background-color: #dbd400;
    width: 150px;
    height: 50px;
    float: left;
}
.center {
    background-color: #0093b7;
    width: 150px;
    height: 100px;
    float: left;
    
}
.bottom {
    background-color: #8c2727;
    width: 250px;
    height: 100px;
    float: right;
   
}
.footer {
    background-color: #d98d30;
    height: 100px;
    width:400px;
    clear: left;
}