.clear-fix::after {
    content: "";
    display: block;
    clear: both;
}
.header {
    height: 100px;
    width:400px ;
    background-color: #141f40;
}
.left {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left; 
    
}
.main {
    float: left;
}
.right {
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
    float: right;
    
    
}
.top {
    width: 150px;
    height: 50px;
    background-color: #dbd400;
    float: left;
    
    
}
.center {
    width: 150px;
    height: 100px;
    background-color: #0093b7;
    clear: left;
    
}
.bottom {
    width: 250px;
    height: 100px;
    background-color: #8c2727;
    clear: left;
}
.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
    clear: left;
}