@media screen and (max-width:479px) {
    .header {
        max-width: 200px; 
        height: 200px;
    }
    .header .inner {
        max-width: 60px;
        height: 190px;
        margin: 0 auto;
    }
    .header .left {
       clear: left;
    }
    .header .header_center {
        clear: left;
    }
        
    
    .left {
        clear: left;
        width: 200px;
        height: 100px;
       
    }
    .right {
        clear: left;
        width: 200px;
        height: 210px;
    }
    .right .top {
        margin: 20px 0 0 30px;
    }
    .right .center {
        margin: 10px 0 0 30px;
    }
    .right .bottom{
        margin: 10px 0 0 30px; 
    }
    .footer {
        max-width: 200px;
    }
}