@media screen and (max-width:479px) {
    .header {
        max-width: 200px; 
        height: 200px;
    }
    .header .inner {
        max-width: 60px;
        margin: 20px 70px;
    }
    .header .left {
       clear: left;
       border-top: 10px solid white;
       border-right: 10px solid white;
       border-bottom: 5px solid white;
       border-left:  10px  solid white;
    }
    .header .header_center {
       clear: left;
       border-top: 5px solid white;
       border-right: 10px solid white;
       border-bottom: 5px solid white;
       border-left:  10px  solid white;
    }
    .header .right  {
        border-top: 5px solid white;
        border-right: 10px solid white;
        border-bottom: 10px solid white;
        border-left:  10px  solid white;
    }  
    
    .left {
        clear: left;
        width: 200px;
        height: 100px;
       
    }
    .right {
        clear: left;
        width: 200px;
        height: 200px;
    }
    .right .top {
        margin: 20px 20px 2px 30px;
    }
    .right .center {
        margin: 3px 20px 2px 30px;
    }
    .right .bottom{
        margin: 3px 20px 20px 30px; 
    }
    .footer {
        max-width: 200px;
    }
}